<div class='mt-5'>
    <div class="d-grid gap-2 col-6 mx-auto">
        {{#if user.online}}
            <a class="btn btn-warning btn-lg mt-5 p-5 fs-1" href="/attendance/end?online={{user.online}}" role="button">Kết thúc</a>
        {{else}}
            <a class="btn btn-success btn-lg mt-5 p-5 fs-1" href="/attendance/start" role="button">Điểm danh</a>
        {{/if}}
       
        {{#if (compare user.annualLeave 0)}}
            <a class="btn btn-danger btn-lg mt-5 p-5 fs-1" href="/attendance/rest" role="button">Nghỉ phép</a>
        {{else}}
            <button type="button" class="btn btn-danger btn-lg mt-5 p-5 fs-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Nghỉ phép
            </button>

            
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thông Báo!!!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Số ngày nghỉ hiện tại bằng 0
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                    </div>
                </div>
            </div>
        {{/if}}   
    </div>
</div>
