
    <%- include('includes/header.ejs') %>

    <div class="mt-4 mx-auto col-6">
      <h1>Điểm danh</h1>
      <form method="post" action="/attendance/started?_method=PATCH">
        <div class="mb-3">
          <label for="name" class="form-label">Họ và Tên</label>
          <input
            type="text"
            class="form-control"
            id="name disabledInput"
            name="name"
            placeholder="<%=user.name%>"
            disabled
          />
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Nơi làm việc</label>

          <select class="form-select" id="location" name="location">
            <option value="company">Công ty</option>
            <option value="home">Nhà</option>
            <option value="outsite">Khách hàng</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Điểm danh</button>
      </form>
    </div>

    <%- include('includes/footer.ejs') %>
